@{
	ViewData["Title"] = "Home Page";
}
@model TESTPROJECT.Models.ViewModels.ProductViewModel

<div class="container py-5">

	<div class="row justify-content-center mb-5">
		<div class="col-md-6">
			<div class="card shadow-lg border-0">
				<div class="card-header text-white text-center"
					 style="background: linear-gradient(135deg, #6f42c1, #a855f7);">
					<h3 class="mb-0">Add New Product</h3>
				</div>
				<div class="card-body bg-white">
					<form asp-controller="Home" asp-action="AddProduct" method="post">
						<div asp-validation-summary="All" class="text-danger mb-3"></div>
						<div class="form-floating mb-3">
							<input name="ProductName" type="text" class="form-control" placeholder="Product Name" required>
							<label>Product Name</label>
						</div>
						<div class="form-floating mb-3">
							<input name="ProductPrice" type="number" min="0" step="1" class="form-control" placeholder="Price" required>
							<label>Product Price</label>
						</div>

						<div class="form-floating mb-4">
							<input name="ProductDescription" type="text" class="form-control" placeholder="Description" required>
							<label>Product Description</label>
						</div>
						<div class="form-floating mb-4">
							<select class="form-select" name="CategoryId" required aria-label="Default select example">
								@foreach (var category in Model.Categories)
								{
									@if(!category.IsDeleted)
									{
										<option value="@category.Id">@category.Name</option>
									}
								}
							</select>
							<label>Select Product Category</label>
						</div>
						<div class="d-grid">
							<button class="btn text-white"
									style="background-color:#6f42c1;">
								Save Product
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="row g-4">
		@foreach (var product in Model.Products)
		{
			@if (product.IsDeleted == false)
			{
				<div class="col-md-4">
					<div class="card h-100 shadow border-0">

						<div class="card-header text-white"
							 style="background-color:#6f42c1;">
							<h5 class="card-title mb-0">@product.Name</h5>
						</div>
						<div class="card-header text-white"
							 style="background-color:#6f42c1;">
							<h5 class="card-title mb-0">@Model.Categories.Where(c => c.Id==product.CategoryId).First().Name</h5>
						</div>

						<div class="card-body bg-white">
							<h6 class="card-subtitle mb-2 text-muted">
								ID: @product.Id
							</h6>

							<p class="card-text">
								<strong>Price:</strong>
								<span class="text-success">@product.Price</span>
							</p>

							<p class="card-text">
								@product.Description
							</p>
						</div>

						<div class="card-footer bg-white border-0 text-end">
							<a asp-controller="Home"
							   asp-action="Edit"
							   asp-route-id="@product.Id"
							   class="btn btn-outline-primary btn-sm me-2">
								Edit
							</a>
							</div>

						<div class="card-footer bg-white border-0 text-end">
							<a asp-controller="Home"
							   asp-action="Delete"
							   asp-route-id="@product.Id"
							   class="btn btn-outline-danger btn-sm"
							   onclick="return confirm('Ви впевнені що хочете видалити цей продукт?');">
								Delete
							</a>
						</div>

					</div>
				</div>
			}
		}
	</div>

</div>