@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>
<div class="text-center">
    <h1 class="display-4">Add new product to the list</h1>
    <p>@Model.First().Name</p>
    <form asp-controller="Home" asp-action="AddProduct" method="post"> 
        <p>
            <div class="input-group">
                <span class="input-group-text">Name of product</span>
                <input name="ProductName" type="text" aria-label="Name" class="form-control">
            </div>
        </p>
        <p>
            <div class="input-group">
                <span class="input-group-text">Product price</span>
                <input name="ProductPrice" type="number" aria-label="Price" class="form-control">
            </div>
        </p>
        <p>
            <div class="input-group">
                <span class="input-group-text">Describe of product</span>
                <input  name="ProductDescription" type="text" aria-label="Describe" class="form-control">
            </div>
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="Save">
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Describe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                </tr>
            }
                
            </tbody>
        </table>
</div>
